.employeeList {
  padding: 100px 60px;

  color: var(--color-blue-main);
  background-color: var(--color-white);
  h5 {
    font-size: 36px;
    padding-bottom: 35px;
  }

  p {
    font-size: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-flex;

    padding: 10px 16px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid var(--color-blue-main);
    border-radius: 4px;

    p {
      margin-right: 16px;
    }
  }
}
