.header {
  height: var(--height-header);
  padding: 0 20px;

  background-color: var(--color-blue-main);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

  @media screen and (min-width: 786px) {
    padding: 0 30px;
  }

  &__nav {
    height: inherit;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: inherit;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__item {
    cursor: pointer;

    transition: transform 0.15s ease-in-out;

    & + & {
      margin-left: 30px;
    }

    &:hover {
      transform: scale(110%);
    }
  }

  &__link {
    color: var(--color-white);
  }

  &__createBtn {
    padding: 5px 10px;

    cursor: pointer;

    background-color: #cbbc97;
    background-color: #e97d72;
    border-radius: 5px;
    color: var(--color-white);
    transition: transform 0.15s ease-in-out;

    &::before {
      content: "Резюме";

      @media screen and (min-width: 768px) {
        content: "Создать резюме";
      }
    }

    &:hover {
      transform: scale(105%);
    }
  }
}
