.resumePage {
  position: relative;

  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vh - var(--height-header) * 3);
  }

  &__mainBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}
