* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-blue-main: #0b61a4;
  --color-white: #ffffff;

  --height-header: 50px;
}

ul {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.css-yjsfm1 {
  display: none;
}

@media print {
  .standart,
  .halfResume {
    border: none;
  }
}
