.accordion {
  padding: 100px 60px;

  color: var(--color-blue-main);
  background-color: var(--color-white);

  h5 {
    font-size: 36px;
    padding-bottom: 35px;
  }

  p {
    font-size: 20px;
  }
}
